<div style="background-color: #daccff2c;">
    <app-navbar></app-navbar>
    <div style="display: flex; flex-flow: row wrap; ">
        <mat-card *ngFor="let movie of movies;" style="flex: 1 1 auto; margin: 1rem 0.5rem; max-width: 214px; border-radius: 10px;">
            <img src={{movie.ImagePath}} alt={{movie.Title}} style="width: 100%; padding-bottom: 20px; height: 300px;" />
            <mat-card-header>                
                <mat-card-title style="height: 40px;">{{movie.Title}}</mat-card-title>
                <ng-container *ngIf="isFavo(movie._id); then selected; else unselected">
                </ng-container>
                <ng-template #unselected>
                    <div>
                        <mat-icon (click)="addFavourite(movie._id)"
                            style="top: 14px; right: 14px; color: #3654d8;">
                            favorite_border
                        </mat-icon>
                    </div>
                </ng-template>

                <ng-template #selected>
                    <div>
                        <mat-icon (click)="deleteFavourite(movie._id)"
                            style="top: 14px; right: 14px; color: #3654d8;">
                            favorite
                        </mat-icon>
                    </div>
                </ng-template>

                <mat-card-subtitle>Release: {{movie.Release | date:'yyyy'}}</mat-card-subtitle>
            </mat-card-header>
         
            <mat-card-actions>
                <div>
                    <button mat-button color="primary"
                        (click)="openDetailsDialog(movie.Title, movie.Release, movie.Description)"
                        style="margin: 0 0.5rem;">
             Bio
                    </button>
                    <button mat-button color="primary"
                        (click)="openGenreDialog(movie.Genre.Name, movie.Genre.Description)">
                        Genre
                    </button>
                </div>
                <div>
                    <button mat-button color="primary" (click)="openDirectorsDialog(movie.Director)"
                        style="margin: 0 0.5rem;">
                        Director
                    </button>
                </div>
            </mat-card-actions>
        </mat-card>
    </div>